section.hSignUp
    .container
        .hSignUp__inner
            h3.hSignUp__head Foreign Investment News for Asia Direct to Your Inbox
            form#register(action='https://www.dezshira.com/register', method='GET')
                .input-group
                    input.form-control(type='text', name='email', placeholder='Enter your email')
                    .input-group-prepend
                        button.btn.btn-primary(type='submit') Sign Up

// End Sign Up
|
|