ul.socials
    li
        a.social-twitter(href="https://twitter.com/dezanshira"): span.sr-only twitter
    li
        a.social-linkedin(href="https://www.linkedin.com/company/51688"): span.sr-only linkedin
    li
        a.social-facebook(href="https://www.facebook.com/DezanShira"): span.sr-only facebook
    li
        a.social-wechat(href="#"): span.sr-only wechat
        .dropdown-menu
            img(alt="" width="115" src=imgPath+"WeChat-QR-code.jpg")
    li
        a.social-youtube(href="https://www.youtube.com/channel/UCDuNrJ3qUVmxinM5i6trjtA"): span.sr-only youtube