.sticky
    .sticky__login
        a(href="#" data-target="#Loginpopup" data-toggle="modal" title="Subscribe/Login")
            span.sr-only Subscribe/Login
    .sticky__contact
        a(href="https://www.dezshira.com/contact" title="CONTACT US") CONTACT US
    .sticky__social
        .sticky__social__inner
            a.sticky__social__toggle(href="#"): span.sr-only show/hidden
            include _socials
// End sticky