-
    var url = '/'
    var language       = 'en';
    var mainActive     = 'home';
    var imgPath        = url + 'images/'
    var imgPathTheme   = url + 'assets/images/'
    var logo           = imgPath + 'logo.png'
    var title          = 'Dezan shira'

-
    exurl = 'https://www.dezshira.com/'
    var mainMenu = [
        {'key': 'about',                'title': 'ABOUT US',            'url': '#','child':[
            {'key': 'about',             'title':'Overview',            'url': exurl + 'about-us/our-firm.html'},
            {'key': 'about',             'title':'Personnel',           'url': exurl + 'personnel'},
            {'key': 'about',             'title':'News',                'url': exurl + 'updates'},
            {'key': 'about',             'title':'Events',              'url': exurl + 'events'},
            {'key': 'about',             'title':'Careers',             'url': exurl + 'career'},
            {'key': 'about',             'title':'History',             'url': exurl + 'about-us/history-milestones.html'},
            {'key': 'about',             'title':'Media',               'url': exurl + 'about-us/media.html'},
            {'key': 'about',             'title':'Partnerships',        'url': exurl + 'partnerships/global'},
            {'key': 'about',             'title':'International Desks', 'url': exurl + 'international-desk'},
        ]},
        {'key': 'services',             'title': 'SERVICES',                                'url': exurl + 'services','child':[
            {'key': 'about',             'title':'Business Intelligence',                   'url': exurl + 'services/business-intelligence-solutions'},
            {'key': 'about',             'title':'Corporate Establishment and Structuring', 'url': exurl + 'services/business-advisory'},
            {'key': 'about',             'title':'Due Diligence',                           'url': exurl + 'services/legal-financial-due-diligence'},
            {'key': 'about',             'title':'Accounting',                              'url': exurl + 'services/accounting-reporting'},
            {'key': 'about',             'title':'HR and Payroll',                          'url': exurl + 'services/payroll-human-resource-administration'},
            {'key': 'about',             'title':'Tax',                                     'url': exurl + 'services/tax'},
            {'key': 'about',             'title':'Audit and Risk Advisory',                 'url': exurl + 'services/audit-financial-review'},
            {'key': 'about',             'title':'Technology',                              'url': exurl + 'services/information-technology-solutions'},
            {'key': 'about',             'title':'Outbound Direct Investment',              'url': exurl + 'services/outbound-direct-investment'},
        ]},
        {'key': 'industries',           'title': 'INDUSTRIES',                      'url': exurl + 'industries','child':[
            {'key': 'about',             'title':'Education',                       'url': exurl + 'industries/education'},
            {'key': 'about',             'title':'Entertainment and Sports',        'url': exurl + 'industries/entertainment-sports'},
            {'key': 'about',             'title':'Environment and Cleantech',       'url': exurl + 'industries/environment-cleantech'},
            {'key': 'about',             'title':'Food and Beverage',               'url': exurl + 'industries/food-beverage'},
            {'key': 'about',             'title':'Healthcare',                      'url': exurl + 'industries/healthcare'},
            {'key': 'about',             'title':'Information Technology',          'url': exurl + 'industries/information-technology'},
            {'key': 'about',             'title':'Manufacturing',                   'url': exurl + 'industries/manufacturing'},
            {'key': 'about',             'title':'Non-Governmental Organizations',  'url': exurl + 'industries/non-governmental-organizations'},
            {'key': 'about',             'title':'Professional services',           'url': exurl + 'industries/professional-services'},
            {'key': 'about',             'title':'Trade and E-commerce',            'url': exurl + 'industries/trade-and-e-commerce'},
        ]},
        {'key': 'locations',            'title': 'LOCATIONS',               'url': exurl + 'office','child':[

            {'key': 'about',            'title':'China',                    'url': exurl + 'office/china'},
            {'key': 'about',            'title':'Hong Kong',                'url': exurl + 'office/hong-kong.html'},
            {'key': 'about',            'title':'India',                    'url': exurl + 'office/india'},
            {'key': 'about',            'title':'Indonesia',                'url': exurl + 'office/indonesia.html'},
            {'key': 'about',            'title':'Malaysia',                 'url': exurl + 'office/malaysia.html'},
            {'key': 'about',            'title':'The Philippines',          'url': exurl + 'office/philippines.html'},
            {'key': 'about',            'title':'Singapore',                'url': exurl + 'office/singapore.html'},

            {'key': 'about',            'title':'Thailand',                 'url': exurl + 'office/thailand.html'},
            {'key': 'about',            'title':'Vietnam',                  'url': exurl + 'office/vietnam'},
            {'key': 'about',            'title':'German Liaison Offices',   'url': exurl + 'office/germany'},
            {'key': 'about',            'title':'Italian Liaison Offices',  'url': exurl + 'office/italy'},
            {'key': 'about',            'title':'United States Liaison Offices','url': exurl + 'office/united-states.html'},
            {'key': 'about',            'title':'Russia',                   'url': exurl + 'office/russia'},
            {'key': 'about',            'title':'Belt & Road Liaison Office','url': exurl + 'office/silk-belt-road.html'},
        ]},
        {'key': 'investor-resources',   'title': 'INVESTOR RESOURCES',      'url': exurl + 'library','child':[
            {'key': 'about',            'title':'Asiapedia',                'url': exurl + 'library'},
            {'key': 'about',            'title':'Asia Briefing',            'url': exurl + 'investor-resource.html'},
        ]}
    ]