extends layouts/_layout_default

block setting
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner.TopInnerBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/careers.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1 Careers
                        p Working at Dezan Shira & Associates is about growth. That means developing skills, making a difference, and achieving goals to help colleagues and clients reach new heights.



    section.pb-5.pt-5
        .container
            .row
                .col-sm-8.col-md-8.col-lg-8.col-xl-8
                    h4.section-title open positions
                    form.WebsiteForm(action='https://www.dezshira.com/events/search', method='GET')
                    .pt-3.pb-3.pr-3.pl-3.border
                        .row
                            .col-sm-3
                                .form-group
                                    label Location
                                    select.form-control(id='', name='location')
                                        option(value='', selected='selected') Location
                                        option(value='asia') Asia
                                        option(value='china') China
                                        option(value='india') India
                                        option(value='vietnam') Vietnam
                                        option(value='hong-kong') Hong Kong
                                        option(value='singapore') Singapore
                                        option(value='europe') Europe
                                        option(value='north-america') North America
                                        option(value='central-and-latin-america') Central &amp; Latin America
                                        option(value='oceania') Oceania
                                        option(value='middle-east') Middle East
                                        option(value='africa') Africa
                            .col-sm-3
                                .form-group
                                    label Function
                                    select.form-control(name='function')
                                        option(value='') All
                                        option(value='Asia Briefing Editorial') Asia Briefing Editorial
                                        option(value='International Business Advisory') International Business Advisory
                                        option(value='Marketing') Marketing
                                        option(value='Business Advisory Services') Business Advisory Services
                                        option(value='Corporate Accounting Services') Corporate Accounting Services
                                        option(value='IT') IT
                                        option(value='HR & Administration') HR &amp; Administration
                            .col-sm-3
                                .form-group
                                    label Role
                                    select.form-control(name='role')
                                        option(value='') Any
                                        option(value='Assistant (Intern)') Assistant (Intern)
                                        option(value='Associate') Associate
                                        option(value='Manager') Manager
                                        option(value='Director') Director
                                        option(value='Research & Editorial') Research &amp; Editorial
                            .col-sm-3
                                .form-group
                                    label Type
                                    select.form-control.radius-none(name='role')
                                        option(value='') Any
                                        option(value='Assistant (Intern)') Assistant (Intern)
                                        option(value='Associate') Associate
                                        option(value='Manager') Manager
                                        option(value='Director') Director
                                        option(value='Research & Editorial') Research &amp; Editorial
                            .col-sm-12
                                .form-group
                                    button.btn.btn-primary.float-right(type='submit')
                                        <i class="fa fa-search"></i> 
                                        | Search
                    ul.list.mt-4
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/singapore/junior-company-secretary-178.html') Junior Company Secretary
                            .duration Associate | Business Advisory Services
                            .country Singapore | Singapore
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/india/graphic-designer-asia-briefing-175.html') Graphic Designer, Asia Briefing
                            .duration Associate | Marketing
                            .country Delhi | India
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/india/crm-data-process-coordinator-173.html') CRM Data and Process Coordinator
                            .duration Associate | Marketing
                            .country New Delhi | India
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/china/-174.html')
                                | Senior Associate / Assistant Manager of International Business Advisory (Native French)
                            .duration Associate | International Business Advisory
                            .country Shanghai | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/china/project-accountant-168.html') Project Accountant
                            .duration Associate | Corporate Accounting Services
                            .country Shanghai | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                            a(href='https://www.dezshira.com/career/details/china/international-business-advisory-senior-associate-assistant-manager-169.html') International Business Advisory Senior Associate / Assistant Manager
                            .duration Manager | International Business Advisory
                            .country Guangzhou, Shenzhen, Hongkong | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/china/senior-marketing-manager-170.html') Senior Marketing Manager
                            .duration Manager | Marketing
                            .country Shanghai, Hongkong | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/china/specialist-of-business-advisory-services-department-165.html') Specialist of Business Advisory Services Department &#x6CD5;&#x5F8B;&#x90E8;&#x4E13;&#x5458;
                            .duration Associate | Business Advisory Services
                            .country Shanghai | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/india/dynamics-365-crm--sr-developer-166.html') Dynamics 365 CRM - Sr. Developer
                            .duration Associate | Marketing
                            .country Delhi | India
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/china/marketing-associate-at-uk-ireland-desk-159.html') Marketing Associate at UK and Ireland Desk
                            .duration Associate | Marketing
                            .country Shanghai | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                            a(href='https://www.dezshira.com/career/details/china/junior-associate-business-advisory-service-160.html') Junior Associate, Business Advisory Service
                            .duration Associate | Business Advisory Services
                            .country Shanghai | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/china/senior-associate-business-advisory-service-161.html') Senior Associate, Business Advisory Service
                            .duration Associate | Business Advisory Services
                            .country Shanghai | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/vietnam/assistant-manager-business-intelligence-157.html') Assistant Manager, Business Intelligence
                            .duration Manager | Business Intelligence
                            .country Ho Chi Minh City | Vietnam
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/china/senior-accounting-tax-manager-134.html') Senior Accounting &amp; Tax Manager
                            .duration Manager | Corporate Accounting Services
                            .country Shanghai | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/china/associate-of-corporate-accounting-services-91.html') Associate of Corporate Accounting Services
                            .duration Associate | Corporate Accounting Services
                            .country Shanghai | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/china/junior-accounting-associate-97.html') Junior Accounting Associate
                            .duration Associate | Corporate Accounting Services
                            .country Suzhou | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/china/accounting-associate-102.html') Accounting Associate
                            .duration Associate | Corporate Accounting Services
                            .country Beijing | China
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/other-regions/associate-data-journalism-analysis-144.html') Associate, Data Journalism and Analysis
                            .duration Associate | Asia Briefing Editorial
                            .country Dalian, Shanghai, Ho Chi Minh City, Mumbai | Other-regions
                        li
                            a.btn.btn-outline-primary.float-right(href='#', role='button') Full time
                            .designation
                                a(href='https://www.dezshira.com/career/details/other-regions/freelance-editors-researchers-analysts-106.html') Contributing Editors, Researchers and Analysts
                            .duration Research &amp; Editorial | Asia Briefing Editorial
                            .country All Offices | Other-regions



                    
       

                .col-sm-4.col-md-4.col-lg-4.col-lg-4
                    .rightBlockSection
                        h4.section-title FEATURED POSITIONS  
                        ul.list
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/business-development-intern-17.html') Global Business Development Assistant role (Shanghai)
                                .duration Assistant (Intern) | International Business Advisory
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/singapore/editorial-assistant-singapore-124.html') Editorial Assistant (Singapore)
                                .duration Assistant (Intern) | Asia Briefing Editorial
                                .country Singapore | Singapore
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/editorial-assistant-china-128.html') Editorial Assistant (China)
                                .duration Assistant (Intern) | Asia Briefing Editorial
                                .country Dalian/Beijing/Shanghai/Shenzhen | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/immediate-opening-of-global-business-development-assistant-shanghai-russian-speaking-129.html') Global Business Development Assistant role (Shanghai), Russian speaking
                                .duration Assistant (Intern) | 
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/marketing-operation-assistant-133.html') Marketing &amp; Operation Assistant (China)
                                .duration Assistant (Intern) | Marketing
                                .country Beijing, Shanghai, Shenzhen, Guangzhou | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/senior-accounting-tax-manager-134.html') Senior Accounting &amp; Tax Manager
                                .duration Manager | Corporate Accounting Services
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/other-regions/associate-data-journalism-analysis-144.html') Associate, Data Journalism and Analysis
                                .duration Associate | Asia Briefing Editorial
                                .country Dalian, Shanghai, Ho Chi Minh City, Mumbai | Other-regions
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/international-business-advisory-assistant-french-speaking-145.html') International Business Advisory Assistant (French Speaking)
                                .duration Assistant (Intern) | Asia Briefing Editorial
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/international-business-advisory-assistant-italian-speaking-153.html') International Business Advisory Assistant (Italian speaking)
                                .duration Assistant (Intern) | International Business Advisory
                                .country Shanghai/Guangzhou | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/vietnam/marketing-assistant-spanish-desk-155.html') Marketing Assistant, Spanish Desk
                                .duration Assistant (Intern) | Marketing
                                .country  | Vietnam
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/vietnam/assistant-manager-business-intelligence-157.html') Assistant Manager, Business Intelligence
                                .duration Manager | Business Intelligence
                                .country Ho Chi Minh City | Vietnam
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/marketing-associate-at-uk-ireland-desk-159.html') Marketing Associate at UK and Ireland Desk
                                .duration Associate | Marketing
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/junior-associate-business-advisory-service-160.html') Junior Associate, Business Advisory Service
                                .duration Associate | Business Advisory Services
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/senior-associate-business-advisory-service-161.html') Senior Associate, Business Advisory Service
                                .duration Associate | Business Advisory Services
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/international-business-advisory-intern-german-speaking-162.html') International Business Advisory Intern (German Speaking)
                                .duration Assistant (Intern) | International Business Advisory
                                .country Shanghai, Beijing, Qingdao | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/specialist-of-business-advisory-services-department-165.html') Specialist of Business Advisory Services Department &#x6CD5;&#x5F8B;&#x90E8;&#x4E13;&#x5458;
                                .duration Associate | Business Advisory Services
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/india/dynamics-365-crm--sr-developer-166.html') Dynamics 365 CRM - Sr. Developer
                                .duration Associate | Marketing
                                .country Delhi | India
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/vietnam/international-business-advisory-intern-167.html') International Business Advisory Intern
                                .duration Assistant (Intern) | International Business Advisory
                                .country HCMC | Vietnam
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/project-accountant-168.html') Project Accountant
                                .duration Associate | Corporate Accounting Services
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/international-business-advisory-senior-associate-assistant-manager-169.html') International Business Advisory Senior Associate / Assistant Manager
                                .duration Manager | International Business Advisory
                                .country Guangzhou, Shenzhen, Hongkong | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/senior-marketing-manager-170.html') Senior Marketing Manager
                                .duration Manager | Marketing
                                .country Shanghai, Hongkong | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/marketing-operation-assistant-china-171.html') Marketing  Assistant
                                .duration Assistant (Intern) | Marketing
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/international-business-advisory-intern-172.html') International Business Advisory Intern
                                .duration Assistant (Intern) | International Business Advisory
                                .country Beijing | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/india/crm-data-process-coordinator-173.html') CRM Data and Process Coordinator
                                .duration Associate | Marketing
                                .country New Delhi | India
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/china/-174.html')
                                    | Senior Associate / Assistant Manager of International Business Advisory (Native French)
                                .duration Associate | International Business Advisory
                                .country Shanghai | China
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/india/graphic-designer-asia-briefing-175.html') Graphic Designer, Asia Briefing
                                .duration Associate | Marketing
                                .country Delhi | India
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/vietnam/business-intelligence-intern-176.html') Business Intelligence Intern
                                .duration Assistant (Intern) | Business Intelligence
                                .country HCMC / Hanoi | Vietnam
                            li
                                .designation
                                    a(href='https://www.dezshira.com/career/details/singapore/junior-company-secretary-178.html') Junior Company Secretary
                                .duration Associate | Business Advisory Services
                                .country Singapore | Singapore

                        
            // /col
            // /row

    

   
    


    
        // /container
        
    
    // End Content

block js
    |
    |
    // Javacript dezshira - old
    script(src='https://www.dezshira.com/themes/dsa/js/jquery.validate.min.js')
    script(src='https://www.dezshira.com/themes/dsa/js/jquery.material.form.js')
    script.
        //for tooltip
        $(document).ready(function(){
            $('form.material').materialForm(); // Apply material
            $('form.material').each(function(i, obj) {
                $(this).validate({
                errorPlacement:function(error, element) {
                        var name = element.attr('name');	
                }
                }); // Apply validator with no error messages but classes only
            });
            $('[data-toggle="tooltip"]').tooltip(); 
        });
        $("div#sidebarnav ul.collapsible li a[href$='/login']").parent().addClass("active");
        $("div#sidebarnav ul.collapsible li a[href$='/login']").parent().parents('li').addClass("active");
        
        
        //mini contact form submit
        var frm = $('form#contact_form');

        frm.submit(function (e) {
            e.preventDefault();
            var isvalid = $("form.material").valid();
            if (isvalid) {
            $('#loading').show();
            $('#message').html('<i class="fas fa-spinner"></i>');
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    
                    $('#message').removeClass("alert alert-danger alert-success");
                    if(data=="invalid_code"){
                        $('#message').addClass("alert alert-danger").html('Invalid Security Code.');
                        $('#loading').hide();
                        $("#reload_captcha").click();
                    } else if(data=="invalid_token"){
                        $('#message').addClass("alert alert-danger").html('Invalid Form Token.');
                        $('#loading').hide();
                        $("#reload_captcha").click();
                    } else {
                        $('#message').addClass("alert alert-success").html('Thank you for your message.');
                        
                        
                        //frm.find('input, textarea').each(function(i){
                        //	$(this).val();
                        //});
                        document.getElementById("contact_form").reset();
                        $("#reload_captcha").click();
                        $('#loading').hide();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').hide();
                    $('#message').html('Sorry, response from the POST URL is empty: <br />'+xhr.status);
                    $("#reload_captcha").click();
            },
            });
            }
        });
        
            $("#reload_captcha").click(function(){
                $("#siimage").attr("src","");
                d = new Date();
                $("#siimage").attr("src", "https://www.dezshira.com/includes/modules/securimage/securimage_show_mini.php?"+d.getTime());
            });
        
        $("#btn_mini_contact_form").click(function() {
            $('html, body').animate({
                scrollTop: ($("#mini_contact_form").offset().top)-300
            }, 2000);
        });
        
        $('select#country').on('change', function() {
            if ($(this).val()) {
                return $(this).css('color', '#333333');
            } else {
                return $(this).css('color', 'gray');
            }
        });

    script(src='https://www.dezshira.com/themes/dsa/js/bundle.js')
    script(src='https://www.dezshira.com/themes/dsa/js/owl.carousel.min.js')
    script.
        //for tooltip
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        $("div#sidebarnav ul.collapsible li a[href$='/services/business-intelligence-solutions']").parent().addClass("active");
        $("div#sidebarnav ul.collapsible li a[href$='/services/business-intelligence-solutions']").parent().parents('li').addClass("active");
    
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-1909572-7', 'auto');
        ga('send', 'pageview');

            // mailto function
            $('a[href^="mailto:"]').click(function(){
                ga('send','event','mailto','click','email clicked');
                return true;
            });
    
    script(type='text/javascript', src='https://analytics-au.clickdimensions.com/ts.js')
    script.
        var cdAnalytics = new clickdimensions.Analytics('analytics-au.clickdimensions.com');
        cdAnalytics.setAccountKey('aHzoBJhlGD02xy7dPmDtCQ');
        cdAnalytics.setDomain('dezshira.com');
        cdAnalytics.setScore(typeof(cdScore) == "undefined" ? 0 : (cdScore == 0 ? null : cdScore));
        cdAnalytics.trackPage();
        
        window.__lo_site_id = 125015;
        (function() {
            var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
            wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
        })();

    script(type='text/javascript').
        if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","bam.nr-data.net","3283726c53","2874630","Z1AGZkEHD0JVVxVQWF4aMUBaSQhfUFEZF0dYRQ==",0,55,new Date().getTime(),"","","","",""]);

    script(type='text/javascript', src='https://js-agent.newrelic.com/nr-100.js')
    script(type='text/javascript', src='https://bam.nr-data.net/1/3283726c53?a=2874630&be=1001&qt=0&ap=55&dc=342&fe=550&to=Z1AGZkEHD0JVVxVQWF4aMUBaSQhfUFEZF0dYRQ%3D%3D&v=42&jsonp=NREUM.setToken&perf=%7B%22timing%22%3A%7B%22of%22%3A1552965194928%2C%20%22n%22%3A0%2C%20%22u%22%3A971%2C%20%22ue%22%3A971%2C%20%22dl%22%3A978%2C%20%22di%22%3A1342%2C%20%22ds%22%3A1342%2C%20%22de%22%3A1348%2C%20%22dc%22%3A1550%2C%20%22l%22%3A1550%2C%20%22le%22%3A1551%2C%20%22f%22%3A1%2C%20%22dn%22%3A1%2C%20%22dne%22%3A1%2C%20%22c%22%3A1%2C%20%22ce%22%3A1%2C%20%22rq%22%3A4%2C%20%22rp%22%3A958%2C%20%22rpe%22%3A967%7D%2C%20%22navigation%22%3A%7B%7D%7D')

    // End Javacript dezshira - old

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        svg.svg-inline--fa.fa-envelope.fa-w-16(aria-hidden='true', data-prefix='far', data-icon='envelope', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z')
                                        // <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        svg.svg-inline--fa.fa-lock.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='lock', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z')
                                        // <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-lg.btn-outline.blue-btn.btnNormalWidth(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>


    // End modal