extends layouts/_layout_default

block setting
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner.TopInnerBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Media-banner.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.text-center
                        h1.text-left Media

    section.breadcrumbBlock
        nav(aria-label='breadcrumb')
            .container
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href='#') About Us
                            li.breadcrumb-item.active(aria-current='page') Media

    section.pt-5.pb-5
        .container
            .row
                .col-sm-8.col-md-8.col-lg-8.col-xl-8
                    p
                         Dezan Shira & Associates specializes in assisting foreign invested companies operate in emerging Asia. While our primary focus is serving our clients, we also believe it is important to engage with the communities in which we do business. Our staff regularly participates in service projects and each regional office of Dezan Shira & Associates organizes its own projects to engage with the local community. These projects have included fundraising, pro bono accounting, orphanage visits, organizing in-kind donations and more.
                    p
                         | Dezan Shira & Associates is also able to use our more than 20 years of expertise to advise non-profit and non-governmental organizations on setting up and operating in China and emerging Asia.
                    p
                        | For inquiries, please contact us with 
                        a(href='mailto:media@dezshira.com') media@dezshira.com
                    
                    #accordion.accordion
                        .card
                            .card-header.collapsed.mt-4(data-toggle='collapse', href='#collapseOne')
                                a.card-title
                                    i
                                        img(src='https://www.dezshira.com/themes/dsa/images/icons/facebook-square.png', alt='', srcset='https://www.dezshira.com/themes/dsa/images/icons/facebook-square@2x.png 2x')
                                    |  Facebook 
                            #collapseOne.card-body.collapse.show(data-parent='#accordion')
                                <table class="table table-striped">
                                    <tbody>
                                    <tr> </tr>
                                    <tr>
                                    <td>Dezan Shira &amp; Associates</td>
                                    <td><a href="https://www.facebook.com/DezanShira/" target="_blank">www.facebook.com/DezanShira/</a></td>
                                    </tr>
                                    <tr>
                                    <td>Asia Briefing</td>
                                    <td><a href="https://www.facebook.com/AsiaBriefingMedia" target="_blank">www.facebook.com/AsiaBriefingMedia</a></td>
                                    </tr>
                                    <tr>
                                    <td>Italian Desk</td>
                                    <td><a href="https://www.facebook.com/DezanShiraIT/" target="_blank">www.facebook.com/DezanShiraIT/</a></td>
                                    </tr>
                                    <tr>
                                    <td>Spanish Desk</td>
                                    <td><a href="https://www.facebook.com/AsiaBriefingES/" target="_blank">www.facebook.com/AsiaBriefingES/</a></td>
                                    </tr>
                                    <tr>
                                    <td>ASEAN Briefing</td>
                                    <td><a href=" https://www.facebook.com/ASEAN-Briefing-503093453144624" target="_blank"> www.facebook.com/ASEAN-Briefing-503093453144624</a></td>
                                    </tr>
                                    <tr>
                                    <td>China Briefing</td>
                                    <td><a href="https://www.facebook.com/ChinaBriefing99" target="_blank">www.facebook.com/ChinaBriefing99</a></td>
                                    </tr>
                                    <tr>
                                    <td>India Briefing</td>
                                    <td><a href="https://www.facebook.com/India-Briefing-1431228477109464" target="_blank">www.facebook.com/India-Briefing-1431228477109464</a></td>
                                    </tr>
                                    <tr>
                                    <td>Indonesia Briefing</td>
                                    <td><a href="https://www.facebook.com/IndonesiaBriefing" target="_blank">www.facebook.com/IndonesiaBriefing</a></td>
                                    </tr>
                                    <tr>
                                    <td>Vietnam Briefing</td>
                                    <td><a href="https://www.facebook.com/Vietnam-Briefing-608357362552095/" target="_blank">www.facebook.com/Vietnam-Briefing-608357362552095/</a></td>
                                    </tr>
                                    <tr> </tr>
                                    </tbody>
                                    </table>
                            .card-header.collapsed.mt-4(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                                a.card-title
                                    i
                                        img(src='https://www.dezshira.com/themes/dsa/images/icons/twitter-square.png', alt='', srcset='https://www.dezshira.com/themes/dsa/images/icons/twitter-square@2x.png 2x')
                                    |  Twitter 
                            #collapseTwo.card-body.collapse.show(data-parent='#accordion')
                               <table class="table table-striped">
                                <tbody>
                                    <tr>
                                    <td>Dezan Shira &amp; Associates</td>
                                    <td><a href="https://twitter.com/dezanshira" target="_blank">www.twitter.com/dezanshira</a></td>
                                    </tr>
                                    <tr>
                                    <td>Asia Briefing</td>
                                    <td><a href="https://twitter.com/asiabriefing" target="_blank">www.twitter.com/asiabriefing</a></td>
                                    </tr>
                                    <tr>
                                    <td>Italian Desk</td>
                                    <td><a href="https://twitter.com/asiabriefingIT" target="_blank">www.twitter.com/asiabriefingIT</a></td>
                                    </tr>
                                    <tr>
                                    <td>UK And Ireland Desk</td>
                                    <td><a href="https://twitter.com/UK_Ireland_Desk" target="_blank">www.twitter.com/UK_Ireland_Desk</a></td>
                                    </tr>
                                    <tr>
                                    <td>North America Desk</td>
                                    <td><a href="https://twitter.com/dsa_usa" target="_blank">www.twitter.com/dsa_usa</a></td>
                                    </tr>
                                    <tr>
                                    <td>Russian Desk</td>
                                    <td><a href="https://twitter.com/RussianDesk" target="_blank">www.twitter.com/RussianDesk</a></td>
                                    </tr>
                                    <tr>
                                    <td>ASEAN Briefing</td>
                                    <td><a href="https://twitter.com/aseanbriefing" target="_blank">www.twitter.com/aseanbriefing</a></td>
                                    </tr>
                                    <tr>
                                    <td>China Briefing</td>
                                    <td><a href="https://twitter.com/chinabriefing" target="_blank">www.twitter.com/chinabriefing</a></td>
                                    </tr>
                                    <tr>
                                    <td>India Briefing</td>
                                    <td><a href="https://twitter.com/indiabriefing" target="_blank">www.twitter.com/indiabriefing</a></td>
                                    </tr>
                                    <tr>
                                    <td>Vietnam Briefing</td>
                                    <td><a href="https://twitter.com/vietnambriefing" target="_blank">www.twitter.com/vietnambriefing</a></td>
                                    </tr>
                                    <tr>
                                    <td>Indonesia Briefing</td>
                                    <td><a href="https://twitter.com/indonesiabrfg" target="_blank">www.twitter.com/indonesiabrfg</a></td>
                                    </tr>
                                </tbody>
                                </table>
                            .card-header.collapsed.mt-4(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                                a.card-title
                                    i
                                        img(src='https://www.dezshira.com/themes/dsa/images/icons/linkedin-square.png', alt='', srcset='https://www.dezshira.com/themes/dsa/images/icons/linkedin-square@2x.png 2x')
                                    |  Linkedin 
                            #collapseThree.card-body.collapse.show(data-parent='#accordion')
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                        <td>Dezan Shira &amp; Associates</td>
                                        <td><a href="https://www.linkedin.com/company/51688" target="_blank">www.linkedin.com/company/51688</a></td>
                                        </tr>
                                        <tr>
                                        <td>Asia Briefing</td>
                                        <td><a href="https://www.linkedin.com/company/3656465" target="_blank">www.linkedin.com/company/3656465</a></td>
                                        </tr>
                                        <tr>
                                        <td>German Desk Group</td>
                                        <td><a href="https://www.linkedin.com/groups/5162231" target="_blank">www.linkedin.com/groups/5162231</a></td>
                                        </tr>
                                        <tr>
                                        <td>Italian Desk Group</td>
                                        <td><a href="https://www.linkedin.com/groups/6723724" target="_blank">www.linkedin.com/groups/6723724</a></td>
                                        </tr>
                                        <tr>
                                        <td>Spanish Desk Group</td>
                                        <td><a href="https://www.linkedin.com/groups/10378295/" target="_blank">www.linkedin.com/groups/10378295</a></td>
                                        </tr>
                                    </tbody>
                                    </table>                                
                            .card-header.collapsed.mt-4(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
                                a.card-title
                                    i
                                        img(src='https://www.dezshira.com/themes/dsa/images/icons/youtube-square.png', alt='', srcset='https://www.dezshira.com/themes/dsa/images/icons/youtube-square@2x.png 2x')
                                    |  Youtube 
                            #collapseFour.card-body.collapse.show(data-parent='#accordion')
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                        <td>Dezan Shira &amp; Associates</td>
                                        <td><a href="https://www.youtube.com/channel/UCDuNrJ3qUVmxinM5i6trjtA" target="_blank">www.youtube.com/channel/UCDuNrJ3qUVmxinM5i6trjtA</a></td>
                                        </tr>
                                        <tr>
                                        <td>Asia Briefing</td>
                                        <td><a href="https://www.youtube.com/user/asiabriefing" target="_blank">www.youtube.com/user/asiabriefing</a></td>
                                        </tr>
                                    </tbody>
                                    </table>

                .col-sm-4.col-md-4.col-lg-4.col-lg-4
                    .rightBlockSection                               
                        h4.section-title Briefing websites
                        ul.list
                            li.p-0
                                a(href='http://www.asiabriefing.com/', target='_blank')
                                    img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/AB-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/AB-logo-withURL-2x.png 2x')
                            li.p-0
                                a(href='https://www.aseanbriefing.com', target='_blank')
                                    img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/asean-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/asean-logo-withURL-2x.png 2x')
                            li.p-0
                                a(href='http://www.china-briefing.com', target='_blank')
                                    img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/cb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/cb-logo-withURL-2x.png 2x')
                            li.p-0
                                a(href='https://www.india-briefing.com', target='_blank')
                                    img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/ib-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/ib-logo-withURL-2x.png 2x')
                            li.p-0
                                a(href='http://www.indonesiabriefing.com', target='_blank')
                                    img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/indo-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/indo-logo-withURL-2x.png 2x')
                            li.p-0
                                a(href='http://www.vietnam-briefing.com/', target='_blank')
                                    img.img-responsive(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/vb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/vb-logo-withURL-2x.png 2x')
                            li.p-0
                                a(href='http://russia-briefing.com/', target='_blank')
                                    img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/rb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/rb-logo-withURL-2x.png 2x')
                            li.p-0
                                a(href='https://www.silkroadbriefing.com/', target='_blank')
                                    img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/srb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/srb-logo-withURL-2x.png 2x')

                        
            // /col
            // /row

    

   
    


    
        // /container
        
    section.grey
        .container
            .row
                .col-sm-12
                     ul.text-center.mt-5.list-inline
                        li.list-inline-item
                            img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/SOUTH-CHINA-MORNING-POST-logo.png', width='120')
                        li.list-inline-item
                            img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/Reuters-logo.png', width='120')
                        li.list-inline-item
                            img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/BBC.png', width='120')
                        li.list-inline-item
                            img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/ft-logo.png', width='120')
                        li.list-inline-item
                            img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/The_New_York_Times_logo.png', width='120')
                        li.list-inline-item
                            img.img-fluid(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/cnbc-logo.png', width='120')
            .row
                .text-center.col-sm-10.col-md-6.col-lg-6.offset-lg-3.offset-md-3.offset-sm-3
                    p
                        | Dezan Shira &amp; Associates professionals operate from over 25 offices across the world. Our professionals routinely advise decision makers on business critical developments in Asia &ndash; as well as the leading online, print, and television media.

    // End Content

block js
    |
    |
    // Javacript dezshira - old
    script(src='https://www.dezshira.com/themes/dsa/js/jquery.validate.min.js')
    script(src='https://www.dezshira.com/themes/dsa/js/jquery.material.form.js')
    script.
        //for tooltip
        $(document).ready(function(){
            $('form.material').materialForm(); // Apply material
            $('form.material').each(function(i, obj) {
                $(this).validate({
                errorPlacement:function(error, element) {
                        var name = element.attr('name');	
                }
                }); // Apply validator with no error messages but classes only
            });
            $('[data-toggle="tooltip"]').tooltip(); 
        });
        $("div#sidebarnav ul.collapsible li a[href$='/login']").parent().addClass("active");
        $("div#sidebarnav ul.collapsible li a[href$='/login']").parent().parents('li').addClass("active");
        
        
        //mini contact form submit
        var frm = $('form#contact_form');

        frm.submit(function (e) {
            e.preventDefault();
            var isvalid = $("form.material").valid();
            if (isvalid) {
            $('#loading').show();
            $('#message').html('<i class="fas fa-spinner"></i>');
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    
                    $('#message').removeClass("alert alert-danger alert-success");
                    if(data=="invalid_code"){
                        $('#message').addClass("alert alert-danger").html('Invalid Security Code.');
                        $('#loading').hide();
                        $("#reload_captcha").click();
                    } else if(data=="invalid_token"){
                        $('#message').addClass("alert alert-danger").html('Invalid Form Token.');
                        $('#loading').hide();
                        $("#reload_captcha").click();
                    } else {
                        $('#message').addClass("alert alert-success").html('Thank you for your message.');
                        
                        
                        //frm.find('input, textarea').each(function(i){
                        //	$(this).val();
                        //});
                        document.getElementById("contact_form").reset();
                        $("#reload_captcha").click();
                        $('#loading').hide();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').hide();
                    $('#message').html('Sorry, response from the POST URL is empty: <br />'+xhr.status);
                    $("#reload_captcha").click();
            },
            });
            }
        });
        
            $("#reload_captcha").click(function(){
                $("#siimage").attr("src","");
                d = new Date();
                $("#siimage").attr("src", "https://www.dezshira.com/includes/modules/securimage/securimage_show_mini.php?"+d.getTime());
            });
        
        $("#btn_mini_contact_form").click(function() {
            $('html, body').animate({
                scrollTop: ($("#mini_contact_form").offset().top)-300
            }, 2000);
        });
        
        $('select#country').on('change', function() {
            if ($(this).val()) {
                return $(this).css('color', '#333333');
            } else {
                return $(this).css('color', 'gray');
            }
        });

    script(src='https://www.dezshira.com/themes/dsa/js/bundle.js')
    script(src='https://www.dezshira.com/themes/dsa/js/owl.carousel.min.js')
    script.
        //for tooltip
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        $("div#sidebarnav ul.collapsible li a[href$='/services/business-intelligence-solutions']").parent().addClass("active");
        $("div#sidebarnav ul.collapsible li a[href$='/services/business-intelligence-solutions']").parent().parents('li').addClass("active");
    
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-1909572-7', 'auto');
        ga('send', 'pageview');

            // mailto function
            $('a[href^="mailto:"]').click(function(){
                ga('send','event','mailto','click','email clicked');
                return true;
            });
    
    script(type='text/javascript', src='https://analytics-au.clickdimensions.com/ts.js')
    script.
        var cdAnalytics = new clickdimensions.Analytics('analytics-au.clickdimensions.com');
        cdAnalytics.setAccountKey('aHzoBJhlGD02xy7dPmDtCQ');
        cdAnalytics.setDomain('dezshira.com');
        cdAnalytics.setScore(typeof(cdScore) == "undefined" ? 0 : (cdScore == 0 ? null : cdScore));
        cdAnalytics.trackPage();
        
        window.__lo_site_id = 125015;
        (function() {
            var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
            wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
        })();

    script(type='text/javascript').
        if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","bam.nr-data.net","3283726c53","2874630","Z1AGZkEHD0JVVxVQWF4aMUBaSQhfUFEZF0dYRQ==",0,55,new Date().getTime(),"","","","",""]);

    script(type='text/javascript', src='https://js-agent.newrelic.com/nr-100.js')
    script(type='text/javascript', src='https://bam.nr-data.net/1/3283726c53?a=2874630&be=1001&qt=0&ap=55&dc=342&fe=550&to=Z1AGZkEHD0JVVxVQWF4aMUBaSQhfUFEZF0dYRQ%3D%3D&v=42&jsonp=NREUM.setToken&perf=%7B%22timing%22%3A%7B%22of%22%3A1552965194928%2C%20%22n%22%3A0%2C%20%22u%22%3A971%2C%20%22ue%22%3A971%2C%20%22dl%22%3A978%2C%20%22di%22%3A1342%2C%20%22ds%22%3A1342%2C%20%22de%22%3A1348%2C%20%22dc%22%3A1550%2C%20%22l%22%3A1550%2C%20%22le%22%3A1551%2C%20%22f%22%3A1%2C%20%22dn%22%3A1%2C%20%22dne%22%3A1%2C%20%22c%22%3A1%2C%20%22ce%22%3A1%2C%20%22rq%22%3A4%2C%20%22rp%22%3A958%2C%20%22rpe%22%3A967%7D%2C%20%22navigation%22%3A%7B%7D%7D')

    // End Javacript dezshira - old

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        svg.svg-inline--fa.fa-envelope.fa-w-16(aria-hidden='true', data-prefix='far', data-icon='envelope', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z')
                                        // <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        svg.svg-inline--fa.fa-lock.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='lock', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z')
                                        // <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-lg.btn-outline.blue-btn.btnNormalWidth(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>


    // End modal