section.TopBanner {
	position: relative;
	overflow: hidden;
	height: 340px;
	width: 100%;
	z-index: 1;
	top: 0;
	img {
		position: absolute;
		background-size: cover;
		width: 100%;
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
	.BannerCaption {
		vertical-align: middle;
		margin-top: 180px;
	}
	h1 {
		width: 100%;
		text-align: left;
		color: #fff;
		font-size: 32px;
		display: inline-block;
		line-height: 36px;
		position: relative;
		z-index: 2;
		margin-top: 0;
		margin-bottom: 10px;
	}
	p {
		font-size: 16px;
		color: #fff;
		text-align: left;
		padding: 0;
		z-index: 2;
		position: relative;
		margin: 0;
	}
}

.section-title {
	border-top: 3px solid #1a2940;
	border-bottom: 1px solid #e6e7e8;
	line-height: 20px;
	font-size: 12px;
	margin-bottom: 0;
	text-transform: uppercase;
	padding: 12px 18px;
	color: #58595b;
	
}
.list-unstyled.list {
    padding: 0;
	margin: 0;
	list-style: none;
	li {
		padding: 18px;
		border-bottom: solid 1px #e7e7e7;
		a {
			color: #344c70;
			font-weight: 400;
		}
	}
}

.breadcrumb {
	background-color: #fff;
	margin: 0 auto;
	border-top: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
	border-radius: 0;
	padding: 8px 15px;
}

.rightBlockSection {
	width: 100%;
}
.contactUs {
	background: url(https://www.dezshira.com/themes/dsa/images/topics-banners/RightContact-us_Background.jpg) no-repeat top left;
	width: auto;
    height: 420px;
    background-size: cover;
	.BannerCaption {
		padding: 30px;
		h3 {
			margin: 0;
			padding: 30px 20px 0 0;
			color: #FFF;
			font-size: 22px;
            font-style: normal;
            a {
                color: #fff;
            }
		}
		p {
			margin: 0;
			padding: 20px 18px 0 0;
            color: #fff;
            a {
                color: #fff;
            }
		}
		
        
	}
}

.blueBg, .dark_blueBg {
	background-color: #316aa3;
	color: #FFF;
	.BannerCaption {
		padding: 30px 29px 30px 30px;
		h3 {
			margin: 0;
			padding: 10px 0 0;
			color: #FFF;
			font-weight: 400;
			font-size: 16px;
			font-style: normal;
		}
		p {
			margin: 0;
			padding: 10px 0 0;
			color: #fff;
			font-size: 22px;
			line-height: 1.3;
        }
        
        a {
			color: #fff;
		}
	}
}
.contactBlockSmall {
	.BannerCaption {
		padding: 30px 29px 30px 30px;
	}
}

section.blue {
	background-color: #316aa3;
	padding: 35px 0;
	color: #FFF;
	line-height: 36px;
	h5 {
		font-size: 18px;
		color: #FFF;
		line-height: 20px;
	}
}
