section.TopBanner {
	position: relative;
	overflow: hidden;
	height: 340px;
	width: 100%;
	z-index: 1;
	top: 0;
	img {
		position: absolute;
		background-size: cover;
		width: 100%;
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
	.BannerCaption {
		vertical-align: middle;
		margin-top: 180px;
	}
	h1 {
		width: 100%;
		text-align: left;
		color: #fff;
		font-size: 32px;
		display: inline-block;
		line-height: 36px;
		position: relative;
		z-index: 2;
		margin-top: 0;
		margin-bottom: 10px;
	}
	p {
		font-size: 16px;
		color: #fff;
		text-align: left;
		padding: 0;
		z-index: 2;
		position: relative;
		margin: 0;
	}
}

.section-title {
	border-top: 3px solid #1a2940;
	border-bottom: 1px solid #e6e7e8;
	line-height: 20px;
	font-size: 12px;
	margin-bottom: 0;
	text-transform: uppercase;
	padding: 12px 18px;
	color: #58595b;
	
}
.list {
    padding: 0;
	margin: 0;
	list-style: none;
	li {
		padding: 18px;
		border-bottom: solid 1px #e7e7e7;
		a {
			color: #344c70;
			font-weight: 400;
		}
	}
}
.listRightContent{ padding-left: 150px;}
.breadcrumb {
	background-color: #fff;
	margin: 0 auto;
	border-top: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
	border-radius: 0;
	padding: 8px 15px;
}

.rightBlockSection {
	width: 100%;
}
.contactUs {
	background: url(https://www.dezshira.com/themes/dsa/images/topics-banners/RightContact-us_Background.jpg) no-repeat top left;
	width: auto;
    height: 420px;
    background-size: cover;
	.BannerCaption {
		padding: 30px;
		h3 {
			margin: 0;
			padding: 30px 20px 0 0;
			color: #FFF;
			font-size: 22px;
            font-style: normal;
            a {
                color: #fff;
            }
		}
		p {
			margin: 0;
			padding: 20px 18px 0 0;
            color: #fff;
            a {
                color: #fff;
            }
		}
		
        
	}
}

.blueBg, .dark_blueBg {
	background-color: #316aa3;
	color: #FFF;
	.BannerCaption {
		padding: 30px 29px 30px 30px;
		h3 {
			margin: 0;
			padding: 10px 0 0;
			color: #FFF;
			font-weight: 400;
			font-size: 16px;
			font-style: normal;
		}
		p {
			margin: 0;
			padding: 10px 0 0;
			color: #fff;
			font-size: 22px;
			line-height: 1.3;
			font-weight: 700;
        }
        
        a {
			color: #fff;
		}
	}
}
.contactBlockSmall {
	.BannerCaption {
		padding: 30px 29px 30px 30px;
	}
}

section.blue {
	background-color: #316aa3;
	padding: 35px 0;
	color: #FFF;
	line-height: 36px;
	h5 {
		font-size: 18px;
		color: #FFF;
		line-height: 20px;
		font-weight: 400;
	}
	h1{ color: white;
	a{ color: white;}}
}
section.breadcrumbBlock{
border-bottom: solid 1px #ebebeb;
.breadcrumb{border: none;
.breadcrumb-item{ padding-bottom: 0;}
}
}

.locationThumbnail {
	width: 362px;
	height: 204px;
	position: relative;
	margin-bottom: 30px;
	.title {
		font-weight: 400;
		line-height: 26px;
		font-size: 24px;
		position: absolute;
		left: 4%;
		bottom: 10%;
		z-index: 1;
		color: #FFF;
	}
	img {
		width: 100%;
		height: 204px;
		object-fit: cover;
	}
}
figure {
	margin: 0;
}
.hoverImage {
	overflow: hidden;
	figure {
		img {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
		}
		&:hover {
			img {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
}
.international-desks {
	min-height: 530px;
	.eventBody {
		h4 { font-weight: normal;
			a {
				color: #000;
			}
		}
	}
}
section.grey {
    background-color: #f4f3f3;
    color: #606163;

}
// media page
.accordion {
	.card-header {
		&:after {
			font-family: 'Font Awesome 5 Pro';
			content:"\f078";
			float: right;
			
		}
	}
	.card-header.collapsed {
		&:after {
			content: "\f077";
		}
	}
}
.card {
	.card-header {
		background-color: #FFF;
		border-top: solid 3px #1a2940;
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		padding-bottom: 5px;
		padding-top: 5px;
		border-bottom: solid 1px #e6e7e8;
	}
}
.card-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}
.card {
	border: 0;
	box-shadow: none;
	.card-body{ padding: 0px;}
}

// news page
.featuredNews {
	height: 482px;
	position: relative;
	img {
		z-index: 3;
		top: 0;
		width: 100%;
		height: 482px;
		display: block;
		object-fit: cover;
	}
	.newsTitle {
		font-size: 24px;
		line-height: 28px;
		a{ color: white;}
	}
}
.relatedNews {
	height: 230px;
	position: relative;
	img {
		z-index: 3;
		top: 0;
		width: 100%;
		height: 230px;
		display: block;
		object-fit: cover;
	}
	.newsTitle {
		font-size: 18px;
		line-height: 22px;
		a{ color: white;}
	}
}
.newsTitle {
	position: absolute;
	bottom: 0;
	color: #FFF;
	font-weight: 700;
	padding: 0 20px 20px;
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 1%,rgba(0,0,0,.38) 50%,rgba(0,0,0,.76) 100%);
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 1%,rgba(0,0,0,.38) 50%,rgba(0,0,0,.76) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 1%,rgba(0,0,0,.38) 50%,rgba(0,0,0,.76) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#c2000000', GradientType=0);
}

ul.list li .articleThumbnail {
    width: 300px;
    float: left;
    margin-right: 20px;

}
.hideOverflow {
    overflow: hidden;

}
//event apge
.event_block {
	width: 100%;
	display: block;
	overflow: hidden;
	.date_block {
		width: 132px;
		height: 132px;
		text-align: center;
		vertical-align: middle;
		margin-right: 48px;
		background-color: #344c70;
		float: left;
		.date {
			font-size: 14px;
			display: block;
			padding-top: 36px;
			color: #FFF;
			text-transform: uppercase;
			span {
				font-size: 36px;
				display: block;
				padding-top: 5px;
				font-weight: 400;
				line-height: 18px;
			}
		}
	}
	&:hover {
		.date_block {
			background-color: #486b9a;
		}
	}
	.dec_block {
		overflow: hidden;
		.title {
			font-size: 18px;
			line-height: 28px;
			color: #000;
			padding: 0;
			margin: 0;
			a {
				color: #000;
			}
		}
		.dec {
			padding-bottom: 20px;
			padding-top: 10px;
			margin: 0;
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
		}
		.date_time {
			padding: 0;
			margin: 0 0 20px;
			margin-bottom: 20px;
			margin-bottom: 0;
			font-size: 14px;
			line-height: 20px;
		}
	}
}
